* {
  text-align: center;
}
#planeta {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}
#usuario {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}
button{
    margin-top: 20px;
    width: 200px;
    height: 50px;
}
